/* Utils */
.bg-light-gray {
  background-color: #eaeaea;
}

.bg-light-blue {
  background-color: #8edafc;
}

.bg-chat-color {
  background-color: #ece5dd;
}

.bg-chat-image {
  background-image: url('../img/mine.jpg');
}

.clickable {
  cursor: pointer;
}

/* MEDIA  */

.media {
  height: 100%;
  display: flex;
  align-items: center;
}

.media figure {
  height: 70px;
  padding: 0.5rem;
  margin-bottom: 0;
}

.media .media-icon {
  width: 50px;
  height: 50px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.media img {
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.media .media-text {
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.media .media-secondary-text {
  margin-bottom: 0;
}

li.media:hover {
  cursor: pointer;
  background-color: #eaeaea;
}

/* MAIN SECTIONS */
body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #00bfa5 15%,
    #f0f0f0 15%,
    #f0f0f0 100%
  );
}

#app .container {
  height: 90%;
}

/* CHAT SECTION */

#chat header,
#chat footer,
.user-section {
  height: 70px;
}

/* CONTACTS SECTION */

.search {
  height: 50px;
  position: relative;
}

.search .fa-search {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.search input {
  border: 0;
  height: 100%;
  padding-left: 50px;
}

.notifications {
  height: 80px;
  background-color: #8edafc;
}

.notifications i.fas {
  color: #8edafc;
}

/* CHAT FOOTER */

#chat footer [class^='col-'] {
  display: flex;
  justify-content: center;
}

/* MESSAGES */
.message-container {
  display: flex;
}
.message-container.sent {
  justify-content: flex-end;
}

.message-container.received {
  justify-content: flex-start;
}

.message-container.sent .message {
  background-color: #d5f9ba;
}

.message-container.received .message {
  background-color: #fff;
}

.message-container .message p {
  margin-bottom: 0;
}
.message-container .message time {
  display: block;
  text-align: right;
  font-size: 11px;
  color: #aaa;
}
