body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 0%,#009688 20%,#D9DBD4 20%,#D9DBD4 100%);
}
#chat {
    background: #EAEAEA;
}
#user {
    height: 100px;
}
#notification {
    height: 100px;
    background-color: #8EDAFC;
}
#search {
    background-color: #fafafa;
    height: 50px;
}
#message {
    height: 100px;
    background-color: #e9ebeb;
}
#field {
    height: calc(100vh - 250px);
    background-image:url(../img/mine.jpg);
}
#sendmsg {
    height: 100px;
    background-color: #f3eeea;
}
#sent {
    height: 100px;
}
#recived {
    height: 100px;
}